<h2>Por país</h2>
<hr />

<div class="row">
  <div class="col">
    <form (ngSubmit)="search()" autocomplete="off">
      <input
        [(ngModel)]="country"
        type="text"
        name="country"
        placeholder="Buscar país ..."
        class="form-control"
      />
    </form>
  </div>
</div>

<hr />
<div *ngIf="isError" class="alert alert-danger">No hay resultados</div>

<div *ngIf="!isError" class="row">
  <div class="col">
    <table class="table table-hiver">
      <thead>
        <th>#</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Población</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>bandera</td>
          <td>nombre</td>
          <td>12563</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
